<div class="row">
  <div class="col-md-9">
    <%= image_tag(@pick.picture_url, width: '100%') if @pick.picture.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Title: </b><%= @pick.title %></p>
    <% if user_signed_in? && @pick.user == current_user %>
      <%= link_to 'Edit', edit_pick_path(@pick) %>
      <%= link_to 'Destroy', @pick, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <%= link_to 'Back', picks_path %>
  </div>
</div>